[Desktop Entry]
Name=ColourPicker
GenericName=Colour Picker
Comment=Simple colour picker application
Exec=colourpicker
Icon=/usr/share/icons/colourpicker.png
Terminal=false
Type=Application
Categories=Graphics;
